#start-btn {
    width: 40%;
}

#camera {
    width: 360px;
    height: 250px;
    border: 1px solid grey;
}

#logo_img {
    width: 150px;
    border-radius: 100px;
}

#textbox {
    width: 300px;
}

.header {
    width: 100%;
    font-size: 30px;
    box-shadow: 15px 15px 20px black
}

body {

    background-color: plum;

}
